.projects__wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-block: 80px;
}

.projects__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.projects__headline {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

.projects__contact {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0;
  background-image: linear-gradient(
    to right,
    var(--accent) 75%,
    var(--accent) 75%
  );
  background-position: 0 2.1em;
  background-repeat: repeat-x;
  background-size: 8px 2px;
}

.projects__item {
  max-width: 350px;
  margin: 0 auto;
}

.projects__picture {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.projects__image {
  width: 100%;
  height: auto;
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.projects__item:hover .projects__overlay,
.projects__item:focus-within .projects__overlay {
  opacity: 1;
}

.projects__name {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.projects__technologies {
  color: var(--text2);
  font-size: 1rem;
}

@media (min-width: 37.5em) {
  .projects__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 24px;
  }
}

@media (min-width: 62.5em) {
  .projects__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 70px 30px;
  }
}
